node_modules/
.vscode-test/
dist/
out/
.DS_Store
*.vsix
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/coverage/
**/.nyc_output/
.databricks/**
packages/databricks-sdk-js/src/config/testdata/azure/Library
