name: Create Draft Release

on:
    push:
        branches: ["main", "fix-release-actions"]

    workflow_dispatch:

jobs:
    create-build-artifacts:
        if: startsWith(github.event.head_commit.message, 'Release:')
        uses: ./.github/workflows/create-build-artifacts.yml
        secrets: inherit

    create-release:
        if: startsWith(github.event.head_commit.message, 'Release:')
        needs: ["create-build-artifacts"]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/download-artifact@v3
              id: download
              with:
                  path: build

            - run: ls -lr ${{ steps.download.outputs.download-path }}

            - run: |
                  tmpfile=$(mktemp /tmp/commit-message.XXXXX)
                  cat <<EOF >$tmpfile
                  ${{github.event.head_commit.message}}
                  EOF

                  TITLE=$(cat $tmpfile | head -n1)
                  BODY=$(cat $tmpfile | awk 'BEGIN{C=0} NR > 1 && (NF!=0 || C==1){print $0; C=1}')
                  RELEASE_VERSION=$(echo "$TITLE" | sed -nr 's/Release: v(([0-9]+\.){2}[0-9]+)/\1/p') 
                  gh release create release-v$RELEASE_VERSION ${{ steps.download.outputs.download-path }}/databricks*/*.vsix \
                    -d --target ${{ github.ref_name }} -t "$TITLE" -n "$BODY"
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
