name: Create Draft Release

on:
    push:
        branches: ["yarn-changelog"]

    workflow_dispatch:

    # pull_request:
    #     branches: ["main"]

jobs:
    echo:
        runs-on: macos-latest
        steps:
            - run: echo "${{ github.event.head_commit.message }}"

    create-build-artifacts:
        if: startsWith(github.event.head_commit.message, 'Release:')
        uses: ./.github/workflows/create-build-artifacts.yml
        secrets: inherit

    create-release:
        if: startsWith(github.event.head_commit.message, 'Release:')
        needs: ["create-build-artifacts"]
        runs-on: macos-latest
        steps:
            - uses: actions/download-artifact@v3
              id: download
              with:
                  path: packages/databricks-vscode

            - run: ls -lr ${{ steps.download.outputs.download-path }}

            - run: |
                  TITLE=$(echo "${{ github.event.head_commit.message }}" | head -n1)
                  BODY=$(echo "${{ github.event.head_commit.message }}" | awk 'BEGIN{C=0} NR > 1 && (NF!=0 || C==1){print $0; C=1}')
                  RELEASE_VERSION=$(echo "$TITLE" | sed -nr 's/Release: v(([0-9]+\.){2}[0-9]+)/\1/p') 
                  gh release create -d --target ${{ github.ref_name }} -t "$TITLE" -n $BODY release-v$RELEASE_VERSION ${{ steps.download.outputs.download-path }}
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
