on:
    workflow_dispatch:
    pull_request:
        branches: [main]

jobs:
    package:
        name: Package VSIX
        needs: "test-extension"
        runs-on: "macos-latest"

        strategy:
            matrix:
                bricks_arch: ["darwin_arm64"]

        env:
            BRICKS_ARCH: ${{ matrix.bricks_arch }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "yarn"

            - run: yarn install --immutable

            - name: Building packages
              run: yarn run build

            - run: mkdir -p packages/databricks-vscode/artifacts

            - name: Build VSIX
              run: yarn workspace databricks package -o artifacts

            - name: Upload artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: VSIX artifacts
                  path: packages/databricks-vscode/artifacts
