name: VSCode Extensions CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    run-tests:
        strategy:
            fail-fast: false
            matrix:
                arch:
                    [
                        {bricks_arch: darwin_amd64, os: macos-latest},
                        {bricks_arch: windows_amd64, os: windows-latest},
                    ]
                node-version: [16.x]
                vscode-version: [stable, insiders]

        uses: ./.github/workflows/tests.yml
        with:
            os: ${{ matrix.arch.os }}
            node-version: ${{ matrix.node-version }}
            vscode-version: ${{ matrix.vscode-version }}
            bricks_arch: ${{ matrix.arch.bricks_arch }}
        secrets: inherit

    package:
        name: Package VSIX
        needs: "run-tests"
        runs-on: "macos-latest"
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "yarn"

            - run: yarn install --immutable

            - run: yarn version --check

            - run: yarn run package:cli:fetch
              working-directory: packages/databricks-vscode
              env:
                  # TODO: Remove this once the bricks repo is public
                  GH_TOKEN: ${{ secrets.DECO_GITHUB_TOKEN }}
                  BRICKS_ARCH: darwin_amd64

            - name: Building packages
              run: yarn run build

            - run: mkdir -p packages/databricks-vscode/artifacts

            - name: Build VSIX
              run: yarn workspace databricks-vscode package -o artifacts -t darwin-x64

            - name: Upload artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: VSIX artifacts
                  path: packages/databricks-vscode/artifacts
