name: VSCode Extensions CI

on:
    push:
        branches: [main, bundle-integ]
    pull_request:
        branches: [main, bundle-integ]

jobs:
    run-tests:
        strategy:
            fail-fast: false
            matrix:
                arch:
                    [
                        {cli_arch: darwin_amd64, os: macos-latest},
                        {cli_arch: windows_amd64, os: windows-latest},
                    ]
                node-version: [20.x]
                vscode-version: [stable]
        uses: ./.github/workflows/tests.yml
        with:
            os: ${{ matrix.arch.os }}
            node-version: ${{ matrix.node-version }}
            vscode-version: ${{ matrix.vscode-version }}
            cli_arch: ${{ matrix.arch.cli_arch }}
        secrets: inherit

    validate-tests:
        runs-on: ubuntu-latest
        needs: ["run-tests"]
        steps:
            - run: echo "Tests successfull"
              shell: bash

    package:
        name: Package Arm64 VSIX
        runs-on: "macos-latest"
        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "yarn"

            - run: yarn install --immutable

            - run: yarn run package:cli:fetch
              working-directory: packages/databricks-vscode
              env:
                  CLI_ARCH: darwin_amd64
                  GH_TOKEN: ${{ github.token }}

            - name: Building packages
              run: yarn run build

            - run: mkdir -p packages/databricks-vscode/artifacts

            - name: Build VSIX
              run: yarn package -o artifacts -t darwin-arm64
              working-directory: packages/databricks-vscode

            - name: Upload artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: VSIX artifacts
                  path: packages/databricks-vscode/artifacts
