name: VSCode Extensions CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [windows-latest, macos-latest]
                node-version: [14.x]
                vscode-version: [stable, insiders]

        env:
            VSCODE_TEST_VERSION: ${{ matrix.vscode-version }}

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "yarn"

            - run: yarn install --immutable

            - name: Building packages
              run: yarn run build

            - name: Tests (OSX)
              uses: GabrielBB/xvfb-action@v1
              if: matrix.os != 'windows-latest'
              env:
                  NODE_OPTIONS: "--max-old-space-size=8192"
              with:
                  run: yarn test

            - name: Tests (Windows)
              if: matrix.os == 'windows-latest'
              run: yarn test
              env:
                  NODE_OPTIONS: "--max-old-space-size=8192"

            - name: Integration Tests
              run: yarn run test:integ
              env:
                  DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
                  DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
                  DATABRICKS_CLUSTER_ID: ${{ secrets.DATABRICKS_CLUSTER_ID }}

    package:
        name: Package VSIX

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js 14.x
              uses: actions/setup-node@v3
              with:
                  node-version: 14.x
                  cache: "yarn"

            - run: yarn install --immutable

            - name: Building packages
              run: yarn run build

            - run: mkdir -p packages/databricks-vscode/artifacts

            - name: Build VSIX
              run: yarn workspace databricks vscode:package -o artifacts

            - name: Upload artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: VSIX artifacts
                  path: packages/databricks-vscode/artifacts
