on:
    push:
        branches: [release-please-init]

name: Run Release Please
jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - uses: google-github-actions/release-please-action@v2
              id: release
              with:
                  command: manifest
                  default-branch: release-please-init
                  token: ${{ secrets.GITHUB_TOKEN }}
                  monorepo-tags: true
