name: Release PR

on:
    workflow_dispatch:
    pull_request:
        branch: [main]
    push:
        branch: [main]

jobs:
    generate-changelog:
        runs-on: "macos-latest"
        strategy:
            matrix:
                node-version: [16.x]
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "yarn"

            - run: yarn install --immutable

            - name: Changelog
              id: create-changelog
              run: |
                  bash scripts/generate_changelog.sh tmpfile
                  cat tmpfile >> $GITHUB_STEP_SUMMARY
                  cat tmpfile >> CHANGELOG.md
                  echo "changelog_file=tempfile" >> $GITHUB_OUTPUT

            - name: Create Branch
              id: create-branch
              run: |
                  COMMIT_SHA=$(git rev-parse --short HEAD)
                  git checkout -b releases/draft-$COMMIT_SHA
                  git add CHANGELOG.md
                  git commit -S -m "Changelog"
                  git push origin HEAD
                  echo "branch_name=releases/draft-$COMMIT_SHA" >> $GITHUB_OUTPUT

            - name: Create PR
              run: |
                  gh pr create -B main -H ${{ steps.create-branch.outputs.branch_name }} \
                  --title "Release:ENTER_RELEASE_VERSION" \
                  --body-file ${{ steps.create-changelog.outputs.changelog_file }}
                  rm ${{ steps.create-changelog.outputs.changelog_file }}
