name: Unit Tests

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  unit-test-extension:
    name: Run unit tests
    strategy:
      fail-fast: false
      matrix:
        arch:
          - cli_arch: darwin_amd64
            os: macos-latest
          - cli_arch: windows_amd64
            os: windows-latest
        node-version: [18.x]
        vscode-version: [stable]

    runs-on: ${{ matrix.arch.os }}

    env:
      VSCODE_TEST_VERSION: ${{ matrix.vscode-version }}
      CLI_ARCH: ${{ matrix.arch.cli_arch }}

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Cache VSCode unit test runner
        uses: actions/cache@v4
        with:
          path: /tmp/vscode-test-databricks
          key: ${{ matrix.arch.cli_arch }}-${{ matrix.vscode-version }}-vscode-test

      - run: yarn install --immutable

      - name: Prettier and Linting
        run: yarn run test:lint
        working-directory: packages/databricks-vscode

      - name: Fetching Databricks CLI
        run: yarn run package:cli:fetch
        working-directory: packages/databricks-vscode
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Building packages
        run: yarn run build

      - name: Unit Tests with Coverage
        uses: coactions/setup-xvfb@v1
        with:
          run: yarn run test:cov
          working-directory: packages/databricks-vscode

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12" # 3.13+ is not yet supported by the latest DBR

      - name: Install Python dependencies
        run: pip install ipython nbformat
        working-directory: packages/databricks-vscode

      - name: Python Unit Tests
        run: yarn run test:python
        working-directory: packages/databricks-vscode
